<p id="notice"><%= notice %></p>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <%= link_to "Portfolio", projects_path, :class => 'navbar-brand'%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <nav class="nav nav-masthead justify-content-center float-md-end">
      <%= link_to 'New Project', new_project_path, :class => "nav-link" %>
        <%= link_to "Home", projects_path, :class => 'nav-link active'%>
        <% if user_signed_in? %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link'  %>
        <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'nav-link'  %>
        <% end %>
      </nav>
      </div>
    </nav>


    <main role="main">
    <div class="container">
    <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold"><%= @project.title %></h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4"><%= @project.description %></p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <%= link_to 'Edit', edit_project_path(@project), :class => "btn btn-primary btn-lg px-4 gap-3" %>
        <%= link_to 'Back', projects_path, :class => "btn btn-outline-secondary btn-lg px-4" %>
        <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary btn-lg px-4 gap-3" %>
      </div>
    </div>
  </div>
    </div> <!-- /container -->
  </main>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
